html, body {
	background-color: #8d89ac;
	height: 100%;
	width: 100%;
	margin: 0;
}

#anything {
	height: 60%;
	width: auto;
	margin: 50px auto; 
	max-width: 50%;
	z-index: 21;
}

img {
	z-index: 21;
}

#pantsText {
	font-family: 'Gloria Hallelujah', cursive;
	color: rgb(247,242,227);
	position: fixed;
	bottom: 10vh;
	right: 10vw;
	font-size: 4vw;
}